.trOrderContainer {
  position: relative;
  top: 40px;
  left: 50px;
  background-color: white;
  width: 1000px;
  padding: 10px;
  height: 40px;
  justify-content: space-between;
  font-weight: 900;
  display: flex;
  gap: 20px;
  color: blue;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}
.tdOrderContainer {
  position: relative;
  top: 50px;
  left: 50px;
  background-color: white;
  width: 1000px;
  padding: 10px;
  font-weight: 600;
  height: 40px;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  color: blue;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}
.order-flex-wrap {
  position: relative;
  top: 80px;
  border: 1px solid rgb(253, 253, 253);
  overflow: scroll;
  width: 1100px;
  height: 700px;
  left: 90px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.order-List {
  border: 1px solid gray;
  box-shadow: 2px 2px 2px gray;
  position: relative;
  top: 10px;
  left: 50px;
  width: 1020px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
}

.product-th {
  color: blue;
}
.brand-th {
  position: relative;
  color: blue;
  left: -30px;
}
.category-th {
  position: relative;
  left: -30px;
  color: blue;
}
.price-th {
  position: relative;
  left: -50px;
  color: blue;
}
.stock-th {
  position: relative;
  left: -50px;
  color: blue;
}
.action-th {
  position: relative;
  left: -30px;
  color: blue;
}
.actionPM-th {
  position: relative;
  left: 10px;
  color: blue;
}

.product-td {
  position: relative;
  left: 10px;
  color: blue;
}
.brand-td {
  position: relative;
  color: blue;
  left: -20px;
}
.category-td {
  position: relative;
  left: -30px;
  color: blue;
}
.price-td {
  position: relative;
  left: 10px;
  color: blue;
}
.stock-td {
  position: relative;
  left: 50px;
  color: blue;
}
.product-delete-btn {
  background-color: rgb(243, 112, 112);
  border: 1px solid rgb(243, 112, 112);
}
.product-edit-btn {
  position: relative;
  left: 5px;
  background-color: rgb(145, 246, 145);
  border: 1px solid rgb(145, 246, 145);
}
.product-delete-btn:hover {
  border: 1px solid rgb(243, 112, 112);
}
.product-edit-btn:hover {
  border: 1px solid rgb(145, 246, 145);
}
